@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Oswald&family=Raleway&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    background: #F9F2ED;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.logo {
  font-family: 'Montserrat';
}

span, h1, h2, h3 {
  color: #FFA500;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #db2877;
  // position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

p {
  font-family: 'Lato', sans-serif;
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }

}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
